<div>

  <mat-card class="m-4 p-3">
    <div class="flex flex-column align-items-center mt-3" style="text-align: center;">
      <h1 class="text-2xl md:text-5xl font-semibold">WALLA ZULU INTERNATIONAL GROUP SAC</h1>
      <h2 class="text-xl md:text-4xl ">“AS A GLOBAL ENTERPRICE INTERNATIONAL”
      </h2>
    </div>
  </mat-card>

  <div class="flex flex-column md:flex-row m-4">
    <mat-card class="md:mr-2 w-12 md:w-6" style="height: 350px">
      <!--       <img mat-card-image style="height: 100%; object-fit:cover; "
        src="https://raw.githubusercontent.com/gabrielac3/im-genes/main/wallazulu/wallazulluIA11.jpg" alt=""> -->
      <img mat-card-image style="height: 100%; object-fit:cover; " src="../../../assets/wallazulluIA11.jpg" alt="">
    </mat-card>

    <mat-card class="md:ml-2 md:p-5 w-12 md:w-6 flex align-items-center justify-content-center">
      <mat-card-header>
        <mat-card-title class="mb-2 text-base md:text-xl font-semibold">VISIÓN</mat-card-title>
      </mat-card-header>
      <mat-card-content style="text-align: justify;" class="md:px-5 text-sm md:text-lg line-height-2 md:line-height-3">
        “Somos una corporación enfocada hacia el mundo del servicio de la seguridad global y tecnológico, de estar
        siempre en vanguardia con respeto de los derechos humanos, de las innovaciones tecnológicas y de controles
        medioambientales. Entregar nuestros recursos disponibles, de manera oportuna y eficaz, para satisfacer las
        necesidades de nuestros clientes, alcanzando un entorno de protección y cuidado, protegiendo la vida e
        integridad física de los funcionarios y trabajadores”.
      </mat-card-content>
    </mat-card>
  </div>



  <div class="flex flex-column md:flex-row m-4">

    <mat-card class="md:mr-2 md:p-5 w-12 md:w-6 flex align-items-center justify-content-center">
      <mat-card-header>
        <mat-card-title class="mb-2 text-base md:text-xl font-semibold">MISIÓN</mat-card-title>
      </mat-card-header>
      <mat-card-content style="text-align: justify;" class="md:px-5 text-sm md:text-lg line-height-2 md:line-height-3">
        “Somos una corporación enfocada hacia el mundo del servicio de la seguridad global y tecnológico, de estar
        siempre en vanguardia con respeto de los derechos humanos, de las innovaciones tecnológicas y de controles
        medioambientales. Entregar nuestros recursos disponibles, de manera oportuna y eficaz, para satisfacer las
        necesidades de nuestros clientes, alcanzando un entorno de protección y cuidado, protegiendo la vida e
        integridad física de los funcionarios y trabajadores”.
      </mat-card-content>
    </mat-card>

    <mat-card class="md:ml-2 w-12 md:w-6" style="height: 350px">
      <!--       <img mat-card-image style="height: 100%; object-fit:cover; "
        src="https://raw.githubusercontent.com/gabrielac3/im-genes/main/wallazulu/wallazulluIA3.jpg" alt=""> -->
      <img mat-card-image style="height: 100%; object-fit:cover; " src="../../../assets/wallazulluIA3.jpg" alt="">
    </mat-card>
  </div>

  <mat-card class="m-4 p-5 flex align-items-center justify-content-center line-height-2 ">
    <mat-card-header>
      <mat-card-title class="mb-2 text-base md:text-xl font-semibold">NUESTROS VALORES</mat-card-title>
    </mat-card-header>

    <div class="flex flex-column md:flex-row justify-content-around m-4" style="width: 100%;">
      <mat-card class="card3" style=" background-color: #636a7f; color: #ffffff;" (mouseenter)="flipCard($event)"
        (mouseleave)="flipCard($event)">
        <div class="front">Ética y honestidad</div>
        <div class="back">
          Conducta y Moral siempre en línea de lo correcto, siempre veraces, sinceros y justos.
        </div>
      </mat-card>
      <mat-card class="card3" style=" background-color: #636a7f; color: #ffffff;" (mouseenter)="flipCard($event)"
        (mouseleave)="flipCard($event)">
        <div class="front">Interés por los talentos humanos</div>
        <div class="back">
          Valoramos las capacidades únicas, tanto de la corporación como de los demás, para desarrollar y lograr
          objetivos comunes y personales.
        </div>
      </mat-card>
      <!--       <mat-card class="card3" style=" background-color: #636a7f; color: #ffffff;" (mouseenter)="flipCard($event)"
        (mouseleave)="flipCard($event)">
        <div class="front">Valor e integridad profesional – personal</div>
        <div class="back">
          Buscamos mantener los valores para actuar de manera justa honesta y responsable e incluido profesionalmente
          con nuestros stakeholders, así se construirá relaciones sólidas, manteniendo la confianza entre todos y por
          ende nuestra, su confianza que mantenga los objetivos y una eficiente continuidad de negocio.
        </div>
      </mat-card> -->
    </div>

    <div class="flex flex-column md:flex-row justify-content-around m-4" style="width: 100%;">
      <mat-card class="card3" style=" background-color: #636a7f; color: #ffffff;" (mouseenter)="flipCard($event)"
        (mouseleave)="flipCard($event)">
        <div class="front p-3">Valor e integridad profesional – personal</div>
        <div class="back">
          Buscamos mantener los valores para actuar de manera justa honesta y responsable e incluido profesionalmente
          con nuestros stakeholders, así se construirá relaciones sólidas, manteniendo la confianza entre todos y por
          ende nuestra, su confianza que mantenga los objetivos y una eficiente continuidad de negocio.
        </div>
      </mat-card>
      <mat-card class="card3" style=" background-color: #636a7f; color: #ffffff;" (mouseenter)="flipCard($event)"
        (mouseleave)="flipCard($event)">
        <div class="front">Confianza y compromiso con los resultados</div>
        <div class="back p-2">
          Tenemos la confianza y el compromiso con los resultados son valores que deben de construirse para demostrar
          nuestra dedicación y responsabilidad, y son fundamentales para construir el éxito de nuestra misión en el
          mercado."
        </div>
      </mat-card>
    </div>
    <div class="flex flex-column md:flex-row justify-content-around m-4" style="width: 100%;">
      <mat-card class="card3" style=" background-color: #636a7f; color: #ffffff;" (mouseenter)="flipCard($event)"
        (mouseleave)="flipCard($event)">
        <div class="front">Responsabilidad social</div>
        <div class="back p-2">
          El compromiso que tendremos los talentos, la empresa y los stakeholders para actuar de manera ética y
          contribuir al bienestar de la sociedad. Implica tomar conciencia, e ir más allá del cumplimiento de leyes y
          regulaciones y generar impacto positivo.
        </div>
      </mat-card>
      <mat-card class="card3" style=" background-color: #636a7f; color: #ffffff;" (mouseenter)="flipCard($event)"
        (mouseleave)="flipCard($event)">
        <div class="front">Sostenibilidad</div>
        <div class="back p-2">
          Mantendremos la capacidad de satisfacer las necesidades del presente sin comprometer la capacidad de las
          futuras generaciones, equilibrando o promoviendo el equilibrio de desarrollo económico (equitativo, resiliente
          y respetuoso), social (buscando la equidad y justicia social) y ambiental (utilizaremos o interactuaremos con
          la naturaleza de manera responsable y respeto la biodiversidad).
        </div>
      </mat-card>
    </div>


    <div class="flex flex-column md:flex-row justify-content-around m-4" style="width: 100%;">
      <mat-card class="card3" style=" background-color: #636a7f; color: #ffffff;" (mouseenter)="flipCard($event)"
        (mouseleave)="flipCard($event)">
        <div class="front">Confidencialidad</div>
        <div class="back p-2">
          Promovemos la protección y el respeto de la información privada y sensible de una persona (talentos) o entidad
          (stakeholders), Respetamos la confidencialidad porque vigilamos, controlamos los accesos o dinámicas de la
          información acorde a las leyes y estándares internacionales.
        </div>
      </mat-card>
      <mat-card class="card3" style=" background-color: #636a7f; color: #ffffff;" (mouseenter)="flipCard($event)"
        (mouseleave)="flipCard($event)">
        <div class="front">Resiliencia y prospectividad</div>
        <div class="back p-2">
          Mostraremos las capacidades de adaptarnos a las situaciones en el ambiente de trabajo, manteniendo el
          equilibrio emocional y mental frente a esa adversidad. Mostraremos la capacidad de enfrentar los desafíos y
          aprender de ellas de manera positiva, desarrollando habilidades de resolución de problemas de manera
          prospectiva ( con una actitud positiva y creativa).
        </div>
      </mat-card>
    </div>
  </mat-card>

  <mat-card class="m-4 p-3 align-items-center">
    <mat-card-header class="m-2">
      <mat-card-title class="mb-2 text-xl md:text-2xl font-semibold" style="color:#E19621; text-align: center; ">NUESTRO
        MOTTO: OBSERVACION - DETERMINACION -
        MITIGACION</mat-card-title>
    </mat-card-header>
    <mat-card-content style="text-align: center;" class="px-5 text-base md:text-xl line-height-2 md:line-height-3">
      “Siempre nuestros talentos operan con observación profesional para determinar soluciones que mitiguen el riesgo,
      los peligros, proveyendo en una continuidad de negocio a través del servicio con resiliencia y prospectividad.”
    </mat-card-content>
  </mat-card>


</div>