<div>
    <mat-card class="m-4 p-3">
        <div class="flex flex-column align-items-center mt-3" style="text-align: center;">
            <h1 class="text-2xl md:text-5xl font-semibold">WALLA ZULU INTERNATIONAL GROUP SAC</h1>
            <h2 class="text-xl md:text-4xl ">“SECURITY GLOBAL & TECHNOLOGIES”
            </h2>
        </div>
    </mat-card>
    <mat-card class="m-4 p-3 flex flex-row">
        <div class="m-3 w-3 flex p-3" *ngIf="!isMobile" style="background-color: #1C2A45; color: #ffffff; font-size: 34px; display: flex;
        justify-content: center; align-items: center; text-align: center; line-height:2em;border-radius: 10px; ">
            ¿Quienes Somos?</div>
        <div class="flex flex-column w-12 md:w-9">
            <div class="md:m-5 px-1 md:px-5 text-base md:text-lg line-height-2 md:line-height-3"
                style="text-align: justify;">
                Somos una compañía de seguridad privada de seguridad global, en ruta a ser homologada con
                certificaciones
                internacionales de la ISO: 18788: 2015 estándar para la gestión de operaciones de seguridad en empresas
                privadas,
                y siguiendo lineamientos internacionales para calidad, continuidad de negocio, salud ocupacional,
                control y
                armonía en el medio ambiente, gestión de riesgos con resiliencia, profesionalismo, cumplimientos,
                desarrollo de
                sistemas de gestión en cyberseguridad, informática, tecnología de drones, educación y entrenamiento
                continuo,
                siempre abiertos a los controles, auditorías internas, externas y siguiendo los lineamientos de las
                normas
                internacionales y nacionales para el respeto de los derechos humanos sea cual fuere sus niveles y
                actores, uso
                legitimo de la defensa, uso gradual de la fuerza y fuerza letal.
            </div>
        </div>

    </mat-card>
    <div class="flex flex-column md:flex-row m-4">
        <mat-card class="md:mr-2 w-12 md:w-6" style="height: 350px">
           <!--  <img mat-card-image style="height: 100%; object-fit:cover; "
                src="https://raw.githubusercontent.com/gabrielac3/im-genes/main/wallazulu/wallazulluIA11.jpg" alt=""> -->
                <img mat-card-image style="height: 100%; object-fit:cover; "
                src="../../../assets/wallazulluIA11.jpg" alt="">
        </mat-card>

        <mat-card class="md:ml-2 md:p-5 w-12 md:w-6 flex align-items-center justify-content-center">
            <mat-card-header>
                <mat-card-title class="mb-2 text-base md:text-xl font-semibold">VISIÓN</mat-card-title>
            </mat-card-header>
            <mat-card-content style="text-align: justify;"
                class="md:px-5 text-sm md:text-lg line-height-2 md:line-height-3">
                “Ser una corporación de servicios de seguridad global, instrucción y entrenamiento, y de prevención de
                perdidas, muy eficiente y profesional, en lineamientos a estándares internacionales de sistemas de
                gestión de operaciones de seguridad y de servicios, y en continuo crecimiento para posicionarnos como
                una corporación líder en nuestro sector a nivel nacional e internacional, manteniéndonos en altos
                conocimientos y buscando brindar un valor agregado a nuestros servicios de forma resiliente y
                prospectivo, al respeto de las regulaciones internacionales de derechos humanos, inclusión y uso
                graduado de la fuerza – fuerza letal, cumpliendo a tiempo y con eficacia las tareas - servicios
                encomendadas por nuestros clientes”.
            </mat-card-content>
        </mat-card>
    </div>



    <div class="flex flex-column md:flex-row m-4">

        <mat-card class="md:mr-2 md:p-5 w-12 md:w-6 flex align-items-center justify-content-center">
            <mat-card-header>
                <mat-card-title class="mb-2 text-base md:text-xl font-semibold">MISIÓN</mat-card-title>
            </mat-card-header>
            <mat-card-content style="text-align: justify;"
                class="md:px-5 text-sm md:text-lg line-height-2 md:line-height-3">
                “Somos una corporación enfocada hacia el mundo del servicio de la seguridad global y tecnológico, de
                estar siempre en vanguardia con respeto de los derechos humanos, de las innovaciones tecnológicas y de
                controles medioambientales. Entregar nuestros recursos disponibles, de manera oportuna y eficaz, para
                satisfacer las necesidades de nuestros clientes, alcanzando un entorno de protección y cuidado,
                protegiendo la vida e integridad física de los funcionarios y trabajadores”.
            </mat-card-content>
        </mat-card>

        <mat-card class="md:ml-2 w-12 md:w-6" style="height: 350px">
           <!--  <img mat-card-image style="height: 100%; object-fit:cover; "
                src="https://raw.githubusercontent.com/gabrielac3/im-genes/main/wallazulu/wallazulluIA3.jpg" alt=""> -->
                <img mat-card-image style="height: 100%; object-fit:cover; "
                src="../../../assets/wallazulluIA3.jpg" alt="">
        </mat-card>
    </div>

    <mat-card class="m-4 p-3">
        <div class="flex flex-column align-items-center">
            <h1 class="m-3 text-base md:text-xl font-semibold">VALORES</h1>

            <div class="col-12 grid justify-content-center">
                <mat-card class="col-12 md:col-3 m-2 md:m-4 p-2 md:p-3 valor">Ética y honestidad.</mat-card>
                <mat-card class="col-12 md:col-3 m-2 md:m-4 p-2 md:p-3 valor">Interés por los talentos
                    humanos.</mat-card>
                <mat-card class="col-12 md:col-3 m-2 md:m-4 p-2 md:p-3 valor">Valor e integridad profesional –
                    personal.</mat-card>
                <mat-card class="col-12 md:col-3 m-2 md:m-4 p-2 md:p-3 valor">Confianza y compromiso con los
                    resultados.</mat-card>
                <mat-card class="col-12 md:col-3 m-2 md:m-4 p-2 md:p-3 valor">Responsabilidad social.</mat-card>
                <mat-card class="col-12 md:col-3 m-2 md:m-4 p-2 md:p-3 valor">Sostenibilidad.</mat-card>
                <mat-card class="col-12 md:col-3 m-2 md:m-4 p-2 md:p-3 valor">Confidencialidad.</mat-card>
                <mat-card class="col-12 md:col-3 m-2 md:m-4 p-2 md:p-3 valor">Resiliencia y prospectividad.</mat-card>
            </div>
        </div>

    </mat-card>


    <div class="flex flex-column md:flex-row md:justify-content-around m-4">
        <mat-card class="card3" style=" background-color: #1C2A45; color: #ffffff;" (mouseenter)="flipCard($event)"
            (mouseleave)="flipCard($event)">
            <div class="front">OBSERVACION</div>
            <div class="back">
<!--                 <img mat-card-image class="imgCard3"
                    src="https://raw.githubusercontent.com/gabrielac3/im-genes/main/wallazulu/wallazulluIA6.png"
                    alt="Imagen" /> -->

                    <img mat-card-image class="imgCard3"
                    src="../../../assets/wallazulluIA6.png"
                    alt="Imagen" />
            </div>
        </mat-card>
        <mat-card class="card3" style=" background-color: #E19621; color: #ffffff;" (mouseenter)="flipCard($event)"
            (mouseleave)="flipCard($event)">
            <div class="front">DETERMINACION</div>
            <div class="back">
<!--                 <img mat-card-image class="imgCard3"
                    src="https://raw.githubusercontent.com/gabrielac3/im-genes/main/wallazulu/wallazulluIA7.png"
                    alt="Imagen" /> -->
                    <img mat-card-image class="imgCard3"
                    src="../../../assets/wallazulluIA7.png"
                    alt="Imagen" />
            </div>
        </mat-card>
        <mat-card class="card3" style=" background-color: #1C2A45; color: #ffffff;" (mouseenter)="flipCard($event)"
            (mouseleave)="flipCard($event)">
            <div class="front">MITIGACION</div>
            <div class="back">
<!--                 <img mat-card-image class="imgCard3"
                    src="https://raw.githubusercontent.com/gabrielac3/im-genes/main/wallazulu/wallazulluIA8.png"
                    alt="Imagen" /> -->
                    <img mat-card-image class="imgCard3"
                    src="../../../assets/wallazulluIA8.png"
                    alt="Imagen" />
            </div>
        </mat-card>
    </div>

    <mat-card class="m-4 p-3 align-items-center">
        <mat-card-header class="flex flex-column align-items-center mt-2" style="text-align: center;">
            <h2 class="text-2xl md:text-4xl font-semibold">SERVICIOS PROFESIONALES</h2>
            <h2 class="text-base md:text-2xl font-medium">ASESORÍA - CONSULTORÍA PARA IMPLEMENTAR SISTEMA DE GESTION DE
                RIESGOS / SEGURIDAD
                GLOBAL</h2>
        </mat-card-header>
        <mat-card-content style="font-size: 17px; line-height:1.5em;" class="px-5">
            <div class="cardContent">

                <mat-card class="w-9 md:w-4 m-3">
<!--                     <img mat-card-image style="height: 300px; object-fit:cover; "
                        src="https://raw.githubusercontent.com/gabrielac3/im-genes/main/wallazulu/wallazulluIA17.jpg"
                        alt=""> -->

                        <img mat-card-image style="height: 300px; object-fit:cover; "
                        src="../../../assets/wallazulluIA17.jpg"
                        alt="">

                    <mat-card-content class="mt-3">
                        Gestión de Riesgos: Evaluaciones de Riesgo, Métricas de Mapeo, evaluaciones, procesos y
                        recomendaciones de
                        Tomas de Decisiones
                    </mat-card-content>
                </mat-card>

                <mat-card class="w-9 md:w-4 m-3">
<!--                     <img mat-card-image style="height: 300px; object-fit:cover; "
                        src="https://raw.githubusercontent.com/gabrielac3/im-genes/main/wallazulu/wallazulluIA18.jpg"
                        alt=""> -->

                        <img mat-card-image style="height: 300px; object-fit:cover; "
                        src="../../../assets/wallazulluIA18.jpg"
                        alt="">

                    <mat-card-content class="mt-3">
                        Gestión de Conflictos y Violencia Social – Intercultural: Mapeos de Organizaciones Sociales,
                        comunidades,
                        Interculturales que generen conflictos en áreas de influencia empresarial
                    </mat-card-content>
                </mat-card>

                <mat-card class="w-9 md:w-4 m-3">
<!--                     <img mat-card-image style="height: 300px; object-fit:cover; "
                        src="https://raw.githubusercontent.com/gabrielac3/im-genes/main/wallazulu/wallazulluIA19.jpg"
                        alt=""> -->

                        <img mat-card-image style="height: 300px; object-fit:cover; "
                        src="../../../assets/wallazulluIA19.jpg"
                        alt="">

                    <mat-card-content class="mt-3">
                        Estudios de factibilidad para implementación y dotación de Talentos Humanos altamente
                        profesionales, en
                        temas de PMC, Close Protection, PSD, Seguridad Marítima, Portuaria, Aeroportuaria o Técnicos
                        Especiales en
                        Áreas Específicas requeridas para Servicios
                    </mat-card-content>
                </mat-card>
            </div>
        </mat-card-content>

    </mat-card>

    <div class="flex flex-column md:flex-row md:justify-content-around m-4">
        <mat-card class="card4">SEGURIDAD INTEGRAL , PROTECCION & RESGUARDO</mat-card>
        <mat-card class="card4">IMPLEMENTADORES DE ISO 18788:2015 (MULTINORMA DE SEGURIDAD)</mat-card>
        <mat-card class="card4">COMPRA VENTA - IMPORTACIÓN Y EXPORTACIÓN DE EQUIPOS DE PROTECCIÓN PERSONAL / ARMAS Y
            ACCESORIOS</mat-card>
        <mat-card class="card4">CYBER SECURITY & TECHNOLOGIES</mat-card>
    </div>
</div>
