<div>
<mat-card class="m-3">
  <mat-card-header class="flex flex-column align-items-center mt-2">
    <h1 style="font-size: 32px; font-weight: 500;">WALLA ZULU GROUP – WALLA INTERNATIONAL</h1>
    <h2 style="font-size: 24px;">“SECURITY GLOBAL & TECHNOLOGIES”</h2>
    <h2 style="color:#4A4617; font-size: 24px;">OBSERVACION - DETERMINACION - MITIGACION</h2>
  </mat-card-header>
  <mat-card-content class="flex flex-column m-3" style="text-align: justify;">
    ES UNA COMPAÑÍA DE SEGURIDAD PRIVADA DE SEGURIDAD GLOBAL, EN RUTA A SER HOMOLOGADA CON CEETIFICACIONES INTERNACIONALES DE LA ISO: 18788: 2015 ESTANDAR PARA LA GESTION DE OPERACIONES DE SEGURIDAD EN EMPRESAS PRIVADAS, Y SIGUIENDO LINEAMIENTOS INTERNACIONALES PARA CALIDAD,  CONTINUIDAD DE NEGOCIO, SALUD OCUPACIONAL, CONTROL Y ARMONIA EN EL MEDIO AMBIENTE, GESTION DE RIESGOS CON RESILIENCIA,  PROFESIONALISMO, CUMPLIMIENTOS, DESARROLLO DE SISTEMAS DE GESTION EN CYBERSEGURIDAD, INFORMATICA, TECNOLOGÍA  DE DRONES, EDUCACION Y ENTRENAMIENTO CONTINUO, SIEMPRE ABIERTOS A LOS CONTROLES, AUDITORIAS INTERNAS, EXTERNAS Y SIGUIENDO LOS LINEAMIENTOS DE LAS NORMAS INTERNACIONALES Y NACIONALES PARA EL RESPETO DE LOS  DERECHOS HUMANOS  SEA CUAL FUERE SUS NIVELES Y ACTORES, USO LEGITIMO DE LA DEFENSA, USO GRADUAL DE LA FUERZA Y FUERZA LETAL.
  </mat-card-content>
</mat-card>

<div class="flex mx-3">

<mat-card class="mr-2">
  <mat-card-header>
    <mat-card-title>Misión</mat-card-title>
    </mat-card-header>
  <mat-card-content>“SOMOS UNA CORPORACIÓN ENFOCADA HACIA EL MUNDO DEL SERVICIO DE LA SEGURIDAD GLOBAL Y TECNOLÓGICO, DE ESTAR SIEMPRE EN VANGUARDIA CON RESPETO DE LOS DERECHOS HUMANOS, DE LAS INNOVACIONES TECNOLÓGICAS Y DE CONTROLES MEDIOAMBIENTALES. ENTREGAR NUESTROS RECURSOS DISPONIBLES, DE MANERA OPORTUNA Y EFICAZ, PARA SATISFACER LAS NECESIDADES DE NUESTROS CLIENTES, ALCANZANDO UN ENTORNO DE PROTECCIÓN Y CUIDADO, PROTEGIENDO LA VIDA E INTEGRIDAD FÍSICA DE LOS FUNCIONARIOS Y TRABAJADORES”.</mat-card-content>
</mat-card>
<mat-card class="ml-2">
  <mat-card-header>
    <mat-card-title>Visión</mat-card-title>
    </mat-card-header>
  <mat-card-content>“SOMOS UNA CORPORACIÓN ENFOCADA HACIA EL MUNDO DEL SERVICIO DE LA SEGURIDAD GLOBAL Y TECNOLÓGICO, DE ESTAR SIEMPRE EN VANGUARDIA CON RESPETO DE LOS DERECHOS HUMANOS, DE LAS INNOVACIONES TECNOLÓGICAS Y DE CONTROLES MEDIOAMBIENTALES. ENTREGAR NUESTROS RECURSOS DISPONIBLES, DE MANERA OPORTUNA Y EFICAZ, PARA SATISFACER LAS NECESIDADES DE NUESTROS CLIENTES, ALCANZANDO UN ENTORNO DE PROTECCIÓN Y CUIDADO, PROTEGIENDO LA VIDA E INTEGRIDAD FÍSICA DE LOS FUNCIONARIOS Y TRABAJADORES”.</mat-card-content>
</mat-card>
</div>

<mat-card class="m-3">
  <mat-card-header>
    <mat-card-title>Valores</mat-card-title>
    </mat-card-header>
  <mat-card-content class="flex justify-content-evenly">
    <ul>
      <li>ÉTICA Y HONESTIDAD</li>
      <li>INTERÉS POR LOS TALENTOS HUMANOS</li>
      <li>VALOR E INTEGRIDAD PROFESIONAL – PERSONAL</li>

    </ul>
    <ul>

      <li>CONFIANZA Y COMPROMISO CON LOS RESULTADOS</li>
      <li>RESPONSABILIDAD SOCIAL</li>
      <li>SOSTENIBILIDAD</li>

    </ul>
    <ul>

      <li>CONFIDENCIALIDAD</li>
      <li>RESILIENCIA Y PROSPECTIVIDAD</li>
    </ul>
  </mat-card-content>
</mat-card>

<mat-card class="m-3 align-items-center">
  <mat-card-header>
    <mat-card-title>NUESTRO MOTTO: OBSERVACION - DETERMINACION - MITIGACION</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    “SIEMPRE NUESTROS TALENTOS OPERAN CON OBSERVACIÓN  PROFESIONAL PARA DETERMINAR SOLUCIONES QUE MITIGUEN EL RIESGO, LOS PELIGROS,  PROVEYENDO EN UNA CONTINUIDAD DE NEGOCIO A TRAVÉS DEL  SERVICIO  CON  RESILIENCIA Y PROSPECTIVIDAD”
  </mat-card-content>
</mat-card>
</div>

