<div>
  <mat-card class="m-4 p-3">
    <mat-card-header class="flex flex-column align-items-center mt-3">
      <h1 style="font-size: 32px; font-weight: 700;">WALLA ZULU GROUP – WALLA INTERNATIONAL</h1>
      <h2 style="font-size: 24px;">“SECURITY GLOBAL & TECHNOLOGIES”</h2>
      <h2 style="color:#E19621; font-size: 24px;">OBSERVACION - DETERMINACION - MITIGACION</h2>
    </mat-card-header>
    <mat-card-content class="flex flex-column m-3 px-5"
      style="text-align: justify; font-size: 17px; line-height:1.5em;">
      ES UNA COMPAÑÍA DE SEGURIDAD PRIVADA DE SEGURIDAD GLOBAL, EN RUTA A SER HOMOLOGADA CON CERTIFICACIONES
      INTERNACIONALES DE LA ISO: 18788: 2015 ESTANDAR PARA LA GESTION DE OPERACIONES DE SEGURIDAD EN EMPRESAS PRIVADAS,
      Y SIGUIENDO LINEAMIENTOS INTERNACIONALES PARA CALIDAD, CONTINUIDAD DE NEGOCIO, SALUD OCUPACIONAL, CONTROL Y
      ARMONIA EN EL MEDIO AMBIENTE, GESTION DE RIESGOS CON RESILIENCIA, PROFESIONALISMO, CUMPLIMIENTOS, DESARROLLO DE
      SISTEMAS DE GESTION EN CYBERSEGURIDAD, INFORMATICA, TECNOLOGÍA DE DRONES, EDUCACION Y ENTRENAMIENTO CONTINUO,
      SIEMPRE ABIERTOS A LOS CONTROLES, AUDITORIAS INTERNAS, EXTERNAS Y SIGUIENDO LOS LINEAMIENTOS DE LAS NORMAS
      INTERNACIONALES Y NACIONALES PARA EL RESPETO DE LOS DERECHOS HUMANOS SEA CUAL FUERE SUS NIVELES Y ACTORES, USO
      LEGITIMO DE LA DEFENSA, USO GRADUAL DE LA FUERZA Y FUERZA LETAL.
    </mat-card-content>
  </mat-card>

  <div class="flex m-4">
    <mat-card class="mr-2 w-6">
      <img mat-card-image style="height: 100%; object-fit:cover;" src="https://raw.githubusercontent.com/gabrielac3/im-genes/main/wallazulu/ESCUADRON-WALLA.jpeg" alt="">
    </mat-card>

    <mat-card class="ml-2 p-5 w-6 flex align-items-center justify-content-center">
      <mat-card-header>
        <mat-card-title class="mb-2" style="font-size: 21px; font-weight: 600 ;">VISIÓN</mat-card-title>
      </mat-card-header>
      <mat-card-content style="text-align: justify; font-size: 17px; line-height:1.5em;" class="px-5">
        “SOMOS UNA CORPORACIÓN ENFOCADA HACIA EL MUNDO DEL SERVICIO DE LA SEGURIDAD GLOBAL Y TECNOLÓGICO, DE ESTAR
        SIEMPRE EN VANGUARDIA CON RESPETO DE LOS DERECHOS HUMANOS, DE LAS INNOVACIONES TECNOLÓGICAS Y DE CONTROLES
        MEDIOAMBIENTALES. ENTREGAR NUESTROS RECURSOS DISPONIBLES, DE MANERA OPORTUNA Y EFICAZ, PARA SATISFACER LAS
        NECESIDADES DE NUESTROS CLIENTES, ALCANZANDO UN ENTORNO DE PROTECCIÓN Y CUIDADO, PROTEGIENDO LA VIDA E
        INTEGRIDAD FÍSICA DE LOS FUNCIONARIOS Y TRABAJADORES”.</mat-card-content>
    </mat-card>
  </div>

  <div class="flex m-4">

    <mat-card class="mr-2 p-5 w-6 flex align-items-center justify-content-center">
      <mat-card-header>
        <mat-card-title class="mb-2" style="font-size: 21px; font-weight: 600 ;">MISIÓN</mat-card-title>
      </mat-card-header>
      <mat-card-content style="text-align: justify;font-size: 17px; line-height:1.5em;" class="px-5">
        “SOMOS UNA CORPORACIÓN ENFOCADA HACIA EL MUNDO DEL SERVICIO DE LA SEGURIDAD GLOBAL Y TECNOLÓGICO, DE ESTAR
        SIEMPRE EN VANGUARDIA CON RESPETO DE LOS DERECHOS HUMANOS, DE LAS INNOVACIONES TECNOLÓGICAS Y DE CONTROLES
        MEDIOAMBIENTALES. ENTREGAR NUESTROS RECURSOS DISPONIBLES, DE MANERA OPORTUNA Y EFICAZ, PARA SATISFACER LAS
        NECESIDADES DE NUESTROS CLIENTES, ALCANZANDO UN ENTORNO DE PROTECCIÓN Y CUIDADO, PROTEGIENDO LA VIDA E
        INTEGRIDAD FÍSICA DE LOS FUNCIONARIOS Y TRABAJADORES”.</mat-card-content>
    </mat-card>

    <mat-card class="ml-2 w-6">
      <img mat-card-image style="height: 100%; object-fit:cover;" src="https://raw.githubusercontent.com/gabrielac3/im-genes/main/wallazulu/geitsu.jpg" alt="">
    </mat-card>

  </div>

  <div class="flex m-4">
    <mat-card class="mr-2 w-6">
      <img mat-card-image style="height: 100%; object-fit:cover; " src="https://raw.githubusercontent.com/gabrielac3/im-genes/main/wallazulu/wallaonsint.jpg" alt="">
    </mat-card>

    <mat-card class="ml-2 p-5 w-6 flex align-items-center justify-content-center">
      <mat-card-header>
        <mat-card-title class="mb-2" style="font-size: 21px; font-weight: 600 ;">VALORES</mat-card-title>
      </mat-card-header>
      <mat-card-content style="text-align: justify;font-size: 17px; line-height:1.5em;" class="px-5">
        <ul>
          <li>ÉTICA Y HONESTIDAD</li>
          <li>INTERÉS POR LOS TALENTOS HUMANOS</li>
          <li>VALOR E INTEGRIDAD PROFESIONAL – PERSONAL</li>
          <li>CONFIANZA Y COMPROMISO CON LOS RESULTADOS</li>
          <li>RESPONSABILIDAD SOCIAL</li>
          <li>SOSTENIBILIDAD</li>
          <li>CONFIDENCIALIDAD</li>
          <li>RESILIENCIA Y PROSPECTIVIDAD</li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>

  <mat-card class="m-4 p-3 align-items-center">
    <mat-card-header class="m-2">
      <mat-card-title class="mb-2" style="color:#E19621; font-size: 28px; ">NUESTRO MOTTO: OBSERVACION - DETERMINACION -
        MITIGACION</mat-card-title>
    </mat-card-header>
    <mat-card-content style="text-align: center; font-size: 17px; line-height:1.5em;" class="px-5">
      “SIEMPRE NUESTROS TALENTOS OPERAN CON OBSERVACIÓN PROFESIONAL PARA DETERMINAR SOLUCIONES QUE MITIGUEN EL RIESGO,
      LOS PELIGROS, PROVEYENDO EN UNA CONTINUIDAD DE NEGOCIO A TRAVÉS DEL SERVICIO CON RESILIENCIA Y PROSPECTIVIDAD”
    </mat-card-content>
  </mat-card>

  <mat-card class="m-4 p-3 align-items-center">
    <mat-card-header class="flex flex-column align-items-center mt-2">
      <h2 style="font-size: 24px; font-weight: 700;">LOS SERVICIOS PROFESIONALES</h2>
      <h2 style="font-weight: 700;">ASESORÍA - CONSULTORÍA PARA IMPLEMENTAR SISTEMA DE GESTION DE RIESGOS / SEGURIDAD
        GLOBAL</h2>
    </mat-card-header>
    <mat-card-content style="font-size: 17px; line-height:1.5em;" class="px-5">
      <ul>
        <li>Gestión de Riesgos: Evaluaciones de Riesgo, Métricas de Mapeo, evaluaciones, procesos y recomendaciones de
          Tomas de Decisiones</li>
        <li>Gestión de Conflictos y Violencia Social – Intercultural: Mapeos de Organizaciones Sociales, comunidades,
          Interculturales que generen conflictos en áreas de influencia empresarial,</li>
        <li>Estudios de factibilidad para implementación y dotación de Talentos Humanos altamente profesionales, en
          temas de PMC, Close Protection, PSD, Seguridad Marítima, Portuaria, Aeroportuaria o Técnicos Especiales en
          Áreas Específicas requeridas para Servicios.</li>
      </ul>
    </mat-card-content>
  </mat-card>

  <div class="flex justify-content-around m-4">
    <mat-card class="card4">SEGURIDAD INTEGRAL , PROTECCION & RESGUARDO</mat-card>
    <mat-card class="card4">IMPLEMENTADORES DE ISO 18788:2015 (MULTINORAM DE SEGURIDAD)</mat-card>
    <mat-card class="card4">EQUIPOS DE PROTECCION PERSONAL / ARMAS & ACCESORIOS</mat-card>
    <mat-card class="card4">CYBER SECURITY & TECHNOLOGIES</mat-card>
  </div>

</div>
