
mat-card{
  border-radius: 10px;
}

.card4{
  width: 24%;
  margin: 5px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
  font-size: 17px;
  font-weight: 700;
}
