<div>

  <mat-card class="m-4 p-3">
    <div class="flex flex-column align-items-center mt-3" style="text-align: center;">
      <h1 class="text-2xl md:text-5xl font-semibold">WALLA ZULU INTERNATIONAL GROUP SAC</h1>
      <h2 class="text-xl md:text-4xl ">“AS A GLOBAL ENTERPRICE INTERNATIONAL”
      </h2>
    </div>
  </mat-card>

  <div class="m-4">
    <mat-carousel style="display: flex; height: 500px;" timings="250ms ease-in" [autoplay]="true" color="accent"
      maxWidth="auto" [loop]="true" [hideArrows]="false" [hideIndicators]="false" [useKeyboard]="true"
      [useMouseWheel]="false" orientation="ltr" slideHeight="700px">
      <mat-carousel-slide>
        <img mat-card-image style="width: 100%;" src="../../../assets/wallazulluIA4.jpg" alt="Imagen 1" />
      </mat-carousel-slide>

      <mat-carousel-slide>
        <img mat-card-image style="width: 100%;" src="../../../assets/wallaonsintIA1.jpg" alt="Imagen 2" />
      </mat-carousel-slide>

      <mat-carousel-slide>
        <img mat-card-image style="width: 100%;" src="../../../assets/wallaonsintIA6.jpg" alt="Imagen 3" />
      </mat-carousel-slide>
    </mat-carousel>
  </div>

  <mat-card class="m-4 p-3 flex flex-row">
    <div class="m-3 w-3 flex p-3" *ngIf="!isMobile" style="background-color: #1C2A45; color: #ffffff; font-size: 34px; display: flex;
    justify-content: center; align-items: center; text-align: center; line-height:2em;border-radius: 10px; ">
      ¿Quienes Somos?</div>
    <div class="flex flex-column w-12 md:w-9">
      <div class="md:m-5 px-1 md:px-5 text-base md:text-lg line-height-2 md:line-height-3" style="text-align: justify;">
        Somos una empresa corporativa joven emprendedora, que comprenden tres grandes áreas globales de la seguridad y
        complementas que, buscamos a través de las certificaciones y homologaciones internacionales y nacionales una
        eficiente expertise que ubiquen en el contexto de una de las más grandes corporaciones que brindara servicios
        integrales corporativos a nuestros clientes, socios y stakeholders, sin diferenciar a las más grandes conocidas
        actualmente en operaciones.
      </div>
      <div class="md:m-5 px-1 md:px-5 text-base md:text-lg line-height-2 md:line-height-3" style="text-align: justify;">
        Walla Internacional SAC, en su integración del grupo de empresas en ramas que se identificaran líneas abajo,
        nacemos de un grupo de jóvenes militares veteranos y licenciados con una gran objetivo, visión y misión
        corporativa para ingresar al mercado y posicionar nuestro negocio con la profesionalidad que nos caracteriza y
        trasvasado a la corporación y sus secciones de acción comercial.
      </div>

      <div class="md:m-5 px-1 md:px-5 text-base md:text-lg line-height-2 md:line-height-3" style="text-align: justify;">
        Las tres grandes áreas identificadas que brinda nuestra corporación y de ellas se desprenden pequeñas unidades
        de servicios eficientemente, la ubicamos en: Walla Internacional SAC – Global Security & Technologies, Walla
        Internacional SAC – Grupo de Entrenamiento e Instrucción Especial Táctico y de Seguridad Urbana y Walla
        Internacional SAC - Walla Open Source Intelligence App & Website Provider.
      </div>
    </div>

  </mat-card>

  <mat-card class="m-4 p-4">

    <div class="flex justify-content-center align-items-center m-4" class="text-2xl md:text-4xl font-semibold"
      style="text-align: center;">ÁREAS EMPRESARIALES DE WALLA INTERNATIONAL</div>

    <div class="flex flex-column md:flex-row md:justify-content-around mx-4 mt-5">


      <mat-card mat-button class="p-5 flex flex-column align-items-center btnGeitsu" style="background-color: #1C2A45;"
        (click)="goToSecurity()">
        <!-- <img mat-card-image class="btnShield"
          src="https://raw.githubusercontent.com/gabrielac3/im-genes/main/wallazulu/SECURITY_BLANCO2.png" alt=""> -->
        <img mat-card-image class="btnShield" src="../../../assets/SECURITY_BLANCO2.png" alt="">
        <mat-card-content class="mt-4 text-base md:text-xl security">SECURITY & TECH</mat-card-content>
      </mat-card>

      <mat-card mat-button class="p-3 md:p-5 flex flex-column align-items-center btnGeitsu"
        style="background-color: #636a7f;" (click)="goToGeitsu()">
        <!--         <img mat-card-image class="btnShield"
          src="https://raw.githubusercontent.com/gabrielac3/im-genes/main/wallazulu/GEITSU_BLANCO2.png" alt=""> -->

        <img mat-card-image class="btnShield" src="../../../assets/GEITSU_BLANCO2.png" alt="">
        <mat-card-content class="mt-2 md:mt-4">GEITSU</mat-card-content>
      </mat-card>

      <mat-card mat-button class="p-5 flex flex-column align-items-center btnGeitsu" style="background-color: #E19621;"
        (click)="goToWallaosint()">
        <!--         <img mat-card-image class="btnShield"
          src="https://raw.githubusercontent.com/gabrielac3/im-genes/main/wallazulu/WALLAOSINT_BLANCO2.png" alt=""> -->
        <img mat-card-image class="btnShield" src="../../../assets/WALLAOSINT_BLANCO2.png" alt="">
        <mat-card-content class="mt-4">WALLAOSINT</mat-card-content>
      </mat-card>

    </div>

  </mat-card>

</div>