<div>

  <h1 class="mt-4 p-4" style="color:#1C2A45; font-size: 48px; text-align: center; font-weight: 700;">
    GEITSU WALLA PERU
  </h1>

  <h3 style="color:#E19621; font-size: 32px; text-align: center; font-weight: 700; line-height:1.5em;">
    GRUPO DE ENTRENAMIENTO E INTRUCCION TACTICA ESPECIAL Y DE SEGURIDAD URBANA
  </h3>
  <mat-card class="m-4">
    <img mat-card-image style="height: 700px; object-fit:cover;"
      src="https://raw.githubusercontent.com/gabrielac3/im-genes/main/wallazulu/geitsu.jpg" alt="">
  </mat-card>
  <mat-card class="m-4 p-5">

    <mat-card-content class="flex flex-column m-3" style="text-align: justify; font-size: 17px; line-height:1.5em;">
      Nuestro personal se encuentra capacitado y entrenado de manera continua y sostenida, con miembros fidelizados,
      través alianzas Corporativas de Instrucción y Entrenamiento como del Centro de Entrenamiento e Instrucción Táctico
      Especial “Grifón”, “Group Internacional of Companies – ANTITERROR” y la Alianza de la Dirección de Entrenamiento e
      Instrucción GEITS – ESPAÑA, con las mismas que se cuentan con sus membresías Internacionales para operar a nivel
      Internacional.
    </mat-card-content>

    <div class="grid col-12 align-items-center justify-content-center">
      <mat-card class="col-3 m-3 p-3 flex align-items-center justify-content-center cardGeitsu">Capacitados para
        Certificación de SUCAMEC – Superintendencia Supervisora de Control de Armas y Municiones de
        Perú – Ministerio del Interior.
      </mat-card>
      <mat-card class="col-3 m-3 p-3 flex align-items-center justify-content-center cardGeitsu">Capacitaciones a los
        miembros, clientes y público calificados (militares y Civiles habilitados mediante
        Triaje profesional para Instrucción – Entrenamiento y Porta Arma.
      </mat-card>
      <mat-card class="col-3 m-3 p-3 flex align-items-center justify-content-center cardGeitsu">Instructores Comandos de
        Grupos Especiales de las Fuerzas Armadas, capacitados y entrenados en España y
        Rusia para Homologar sus certificaciones en Perú.
      </mat-card>
      <mat-card class="col-3 m-3 p-3 flex align-items-center justify-content-center cardGeitsu">Prevención y Mitigación
        de Peligros y riesgos</mat-card>
      <mat-card class="col-3 m-3 p-3 flex align-items-center justify-content-center cardGeitsu">Seguridad
        Electrónica</mat-card>
      <mat-card class="col-3 m-3 p-3 flex align-items-center justify-content-center cardGeitsu">Instrucción técnica de
        tiro, Taticas innovativas, etc.</mat-card>
      <mat-card class="col-3 m-3 p-3 flex align-items-center justify-content-center cardGeitsu">Instrucción en Derechos
        Humanos y Uso Gradual de la Fuerza según Estándares y Normas: ISO 18788:215, y de
        las Normas Internacionales de la ONU y OTAN
      </mat-card>
      <mat-card class="col-3 m-3 p-3 flex align-items-center justify-content-center cardGeitsu">Relaciones Sociales y
        aplicaciones de Procedimientos en Política Inclusiva.</mat-card>
      <mat-card class="col-3 m-3 p-3 flex align-items-center justify-content-center cardGeitsu">Asesoría
        constante.</mat-card>
    </div>
  </mat-card>

  <div class="flex m-4">
    <mat-card class=" w-5">
      <img mat-card-image style="height: 100%;  object-fit:cover;"
        src="https://raw.githubusercontent.com/gabrielac3/im-genes/main/wallazulu/ESCUADRON-WALLA.jpeg" alt="">
    </mat-card>

    <mat-card class=" p-5 w-7 flex align-items-center justify-content-center">
      <mat-card-header>
        <mat-card-title class="mb-2" style="font-size: 21px; font-weight: 600 ;">SEGURIDAD PRIVADA - GUARDIA
          INTERNACIONAL</mat-card-title>
      </mat-card-header>
      <mat-card-content style=" font-size: 17px; line-height:1.5em;">
        Guardias Internacionales para:
        <ul>
          <li><mat-icon class="mr-2" style="transform: scale(0.7);">verified_user</mat-icon>Seguridad Estático</li>
          <li><mat-icon class="mr-2" style="transform: scale(0.7);">verified_user</mat-icon>Control de Accesos Peatonal, Vehicular</li>
          <li><mat-icon class="mr-2" style="transform: scale(0.7);">verified_user</mat-icon>Control de Torres de Vigilancia – Over Watch</li>
          <li><mat-icon class="mr-2" style="transform: scale(0.7);">verified_user</mat-icon>Manejo Operacional de Central de Control y Vigilancia – CCTV Control Room</li>
          <li><mat-icon class="mr-2" style="transform: scale(0.7);">verified_user</mat-icon>Pilotos de Drones de Exploración y de Vigilancia por Activación de sistema de intrusión oficinas,
            edificios.</li>
          <li><mat-icon class="mr-2" style="transform: scale(0.7);">verified_user</mat-icon>Guardias Armados con habilidades para manejo técnicas de Uso de Armas Cortas y de Control multitudes.</li>
          <li><mat-icon class="mr-2" style="transform: scale(0.7);">verified_user</mat-icon>Respuestas a Emergencias en Áreas de Influencia: Primero Auxilios, Contra Incendio, Responsabilidad
            Social, Ataques de Fuego directo e Indirecto, Coche Bomba y Hombre Bomba,</li>
          <li><mat-icon class="mr-2" style="transform: scale(0.7);">verified_user</mat-icon>Con Habilidades para Uso de equipos de detección de Explosivos y/o Contrabando en Sallyport (Hombre
            Espejo, Itemiser Manual y Electrónico.)</li>
          <li><mat-icon class="mr-2" style="transform: scale(0.7);">verified_user</mat-icon>Operador de Scanner Personal y de Equipos accesorios.</li>
          <li><mat-icon class="mr-2" style="transform: scale(0.7);">verified_user</mat-icon>Operadores de Unidades Caninas – K9 Detección Explosivos.</li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="flex m-4">

    <mat-card class="p-5 w-7 flex align-items-center justify-content-center">
      <mat-card-header>
        <mat-card-title class="mb-2" style="font-size: 21px; font-weight: 600 ;">RESPUESTA EMERGENCIA</mat-card-title>
      </mat-card-header>
      <mat-card-content style="text-align: justify; font-size: 17px; line-height:1.5em;">
        <ul>
          <li><mat-icon class="mr-2" style="transform: scale(0.7);">verified_user</mat-icon>Gestión de activos y recursos materiales, Garantía de Seguridad infraestructura critica</li>
          <li><mat-icon class="mr-2" style="transform: scale(0.7);">verified_user</mat-icon>Coordinación y cooperación entre diferentes agencias</li>
          <li><mat-icon class="mr-2" style="transform: scale(0.7);">verified_user</mat-icon>Utilizar servicios de inteligencia Estratégica -Operacional para detectar y anticipar amenazas.</li>
          <li><mat-icon class="mr-2" style="transform: scale(0.7);">verified_user</mat-icon>Planificación, mitigación, estrategias y capacitación.</li>
          <li><mat-icon class="mr-2" style="transform: scale(0.7);">verified_user</mat-icon>Defensa Civil e Implementación en emergencia – Planes de evacuación</li>
          <li><mat-icon class="mr-2" style="transform: scale(0.7);">verified_user</mat-icon>Planes de Respuesta y Control de Daño</li>
          <li><mat-icon class="mr-2" style="transform: scale(0.7);">verified_user</mat-icon>Planes de Contingencias – Recuperación y continuidad de Negocio – Resiliencia</li>
          <li><mat-icon class="mr-2" style="transform: scale(0.7);">verified_user</mat-icon>Contención de contaminantes, Fugas y /o sabotajes</li>
          <li><mat-icon class="mr-2" style="transform: scale(0.7);">verified_user</mat-icon>Mantenimiento, Control de fuerzas de seguridad eficaces ante situaciones emergencia</li>
          <li><mat-icon class="mr-2" style="transform: scale(0.7);">verified_user</mat-icon>Contraespionaje contra amenazas internas como medida disuasoria</li>
        </ul>
      </mat-card-content>
    </mat-card>

    <mat-card class="w-5">
      <img mat-card-image style="height: 100%;  object-fit:cover;"
        src="https://raw.githubusercontent.com/gabrielac3/im-genes/main/wallazulu/wallazulluIA10.jpg" alt="">
    </mat-card>

  </div>

  <div class="flex m-4">
    <mat-card class=" w-5">
      <img mat-card-image style="height: 100%;  object-fit:cover;"
        src="https://raw.githubusercontent.com/gabrielac3/im-genes/main/wallazulu/wallazulluIA7.png" alt="">
    </mat-card>

    <mat-card class=" p-5 w-7 flex align-items-center justify-content-center">
      <mat-card-header>
        <mat-card-title class="mb-2" style="font-size: 21px; font-weight: 600 ;">PROTECCIÓN VIP, PATRULLAS MÓVILES O
          ESTÁTICAS – DE REACCION RAPIDA</mat-card-title>
      </mat-card-header>
      <mat-card-content style="text-align: justify; font-size: 17px; line-height:1.5em;">
        Selección de personal e investigación de antecedentes, Sistema de Identificación.
        <ul >
          <li><mat-icon class="mr-2" style="transform: scale(0.7);">verified_user</mat-icon>Programa de Entrenamiento</li>
          <li><mat-icon class="mr-2" style="transform: scale(0.7);">verified_user</mat-icon>Procedimientos de viaje</li>
          <li><mat-icon class="mr-2" style="transform: scale(0.7);">verified_user</mat-icon>Proyecto de transferencia y equipo.</li>
          <li><mat-icon class="mr-2" style="transform: scale(0.7);">verified_user</mat-icon>Protección familiar, Protocolos Emergencia y Crisis</li>
          <li><mat-icon class="mr-2" style="transform: scale(0.7);">verified_user</mat-icon>Reubicación en sitios seguros.</li>
          <li><mat-icon class="mr-2" style="transform: scale(0.7);">verified_user</mat-icon>Fuego y rescate.</li>
          <li><mat-icon class="mr-2" style="transform: scale(0.7);">verified_user</mat-icon>Protección VIP</li>
          <li><mat-icon class="mr-2" style="transform: scale(0.7);">verified_user</mat-icon>Terrorismo y actividades criminal</li>
          <li><mat-icon class="mr-2" style="transform: scale(0.7);">verified_user</mat-icon>Comunicaciones y Respuestas</li>
          <li><mat-icon class="mr-2" style="transform: scale(0.7);">verified_user</mat-icon>Contaminación sanitaria y/ o Guerra Química</li>
          <li><mat-icon class="mr-2" style="transform: scale(0.7);">verified_user</mat-icon>Pruebas confiables (polígrafos, toxicología)</li>
          <li><mat-icon class="mr-2" style="transform: scale(0.7);">verified_user</mat-icon>Ataque cibernético</li>
          <li><mat-icon class="mr-2" style="transform: scale(0.7);">verified_user</mat-icon>Proceso de activación de emergencias.</li>
          <li><mat-icon class="mr-2" style="transform: scale(0.7);">verified_user</mat-icon>Equipo de avanzada, Armamento y Equipamiento</li>
          <li><mat-icon class="mr-2" style="transform: scale(0.7);">verified_user</mat-icon>Entrenamiento médico (TCCC: Tactical Combat Casualty Care)</li>
          <li><mat-icon class="mr-2" style="transform: scale(0.7);">verified_user</mat-icon>Refuerzo de instalaciones</li>
          <li><mat-icon class="mr-2" style="transform: scale(0.7);">verified_user</mat-icon>Equipo de energía adicional</li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="flex justify-content-around m-4">
    <mat-card class="card4">ENTRENAMIENTO E INSTRUCCIÓN PMI / ESCOLTA / RESGUARDO / PSP / CP / SEGURIDAD URBANA /
      DEFENSA PERSONAL</mat-card>
    <mat-card class="card4">INSTRUCCIONES & ENTRENAMIENTO DE LOS CURSOS CERTIFICADOS POR:
      <ul>
        <li>SUCAMEC</li>
        <li>CSISPE</li>
        <li>SISPA</li>
      </ul>
    </mat-card>
    <mat-card class="card4" style="text-align: center;">
      <span>CLUB</span>
      “SOFTGUN, PAINTBALL & AIRGUN WALLA”
    </mat-card>
    <mat-card class="card4">
      CURSOS HOMOLOGADOS Y CERTIFICACIONES INTERNACIONALES DE CENTROS DE ENTRENAMIENTO TACTICO:
      <ul>
        <li>GEITS</li>
        <li>GRIFON</li>
        <li>ANTITERROR</li>
      </ul>
    </mat-card>
  </div>

</div>
