<div >
  <mat-card class="m-4 p-5">
    <mat-card-header class="mt-2">
      <mat-card-title style="color:#E19621; font-size: 32px; text-align: center; font-weight: 700;">
        INSTRUCCIÓN Y ENTRENAMIENTO – GRUPO DE ENTRENAMIENTO E INTRUCCION TACTICA ESPECIAL Y DE SEGURIDAD URBANA “GEITSU
        WALLA PERU</mat-card-title>
    </mat-card-header>
    <mat-card-content class="flex flex-column m-3" style="text-align: justify; font-size: 18px; line-height:1.5em;">
      Nuestro personal se encuentra capacitado y entrenado de manera continua y sostenida, con miembros fidelizados,
      través alianzas Corporativas de Instrucción y Entrenamiento como del Centro de Entrenamiento e Instrucción Táctico
      Especial “Grifón”, “Group Internacional of Companies – ANTITERROR” y la Alianza de la Dirección de Entrenamiento e
      Instrucción GEITS – ESPAÑA, con las mismas que se cuentan con sus membresías Internacionales para operar a nivel
      Internacional.
      <ul>
        <li>Capacitados para Certificación de SUCAMEC – Superintendencia Supervisora de Control de Armas y Municiones de
          Perú – Ministerio del Interior.
        </li>
        <li>Capacitaciones a los miembros, clientes y público calificados (militares y Civiles habilitados mediante
          Triaje profesional para Instrucción – Entrenamiento y Porta Arma.
        </li>
        <li>Instructores Comandos de Grupos Especiales de las Fuerzas Armadas, capacitados y entrenados en España y
          Rusia para Homologar sus certificaciones en Perú.
        </li>
        <li>Prevención y Mitigación de Peligros y riesgos</li>
        <li>Seguridad Electrónica</li>
        <li>Instrucción técnica de tiro, Taticas innovativas, etc.</li>
        <li>Instrucción en Derechos Humanos y Uso Gradual de la Fuerza según Estándares y Normas: ISO 18788:215, y de
          las Normas Internacionales de la ONU y OTAN
        </li>
        <li>Relaciones Sociales y aplicaciones de Procedimientos en Política Inclusiva.</li>
        <li>Asesoría constante.</li>
      </ul>
    </mat-card-content>
  </mat-card>

  <div class="flex m-4">
    <mat-card class=" w-5">
      <img mat-card-image style="height: 100%;  object-fit:cover;" src="https://raw.githubusercontent.com/gabrielac3/im-genes/main/wallazulu/ESCUADRON-WALLA.jpeg" alt="">
    </mat-card>

    <mat-card class=" p-5 w-7 flex align-items-center justify-content-center">
      <mat-card-header>
        <mat-card-title class="mb-2" style="font-size: 24px; font-weight: 600 ;">SEGURIDAD PRIVADA - GUARDIA
          INTERNACIONAL</mat-card-title>
      </mat-card-header>
      <mat-card-content style="text-align: justify; font-size: 18px; line-height:1.5em;">
        Guardias Internacionales para:
        <ul>
          <li>Seguridad Estático</li>
          <li>Control de Accesos Peatonal, Vehicular</li>
          <li>Control de Torres de Vigilancia – Over Watch</li>
          <li>Manejo Operacional de Central de Control y Vigilancia – CCTV Control Room</li>
          <li>Pilotos de Drones de Exploración y de Vigilancia por Activación de sistema de intrusión oficinas,
            edificios.</li>
          <li>Guardias Armados con habilidades para manejo técnicas de Uso de Armas Cortas y de Control multitudes.</li>
          <li>Respuestas a Emergencias en Áreas de Influencia: Primero Auxilios, Contra Incendio, Responsabilidad
            Social, Ataques de Fuego directo e Indirecto, Coche Bomba y Hombre Bomba,</li>
          <li>Con Habilidades para Uso de equipos de detección de Explosivos y/o Contrabando en Sallyport (Hombre
            Espejo, Itemiser Manual y Electrónico.)</li>
          <li>Operador de Scanner Personal y de Equipos accesorios.</li>
          <li>Operadores de Unidades Caninas – K9 Detección Explosivos.</li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="flex m-4">

    <mat-card class="p-5 w-7 flex align-items-center justify-content-center">
      <mat-card-header>
        <mat-card-title class="mb-2" style="font-size: 24px; font-weight: 600 ;">RESPUESTA EMERGENCIA</mat-card-title>
      </mat-card-header>
      <mat-card-content style="text-align: justify; font-size: 18px; line-height:1.5em;">
        <ul>
          <li>Gestión de activos y recursos materiales, Garantía de Seguridad infraestructura critica</li>
          <li>Coordinación y cooperación entre diferentes agencias</li>
          <li>Utilizar servicios de inteligencia Estratégica -Operacional para detectar y anticipar amenazas.</li>
          <li>Planificación, mitigación, estrategias y capacitación.</li>
          <li>Defensa Civil e Implementación en emergencia – Planes de evacuación</li>
          <li>Planes de Respuesta y Control de Daño</li>
          <li>Planes de Contingencias – Recuperación y continuidad de Negocio – Resiliencia</li>
          <li>Contención de contaminantes, Fugas y /o sabotajes</li>
          <li>Mantenimiento, Control de fuerzas de seguridad eficaces ante situaciones emergencia</li>
          <li>Contraespionaje contra amenazas internas como medida disuasoria</li>
        </ul>
      </mat-card-content>
    </mat-card>

    <mat-card class="w-5">
      <img mat-card-image style="height: 100%;  object-fit:cover;" src="https://raw.githubusercontent.com/gabrielac3/im-genes/main/wallazulu/geitsu.jpg" alt="">
    </mat-card>

  </div>

  <div class="flex m-4">
    <mat-card class=" w-5">
      <img mat-card-image style="height: 100%;  object-fit:cover;" src="https://raw.githubusercontent.com/gabrielac3/im-genes/main/wallazulu/wallaonsint.jpg" alt="">
    </mat-card>

    <mat-card class=" p-5 w-7 flex align-items-center justify-content-center">
      <mat-card-header>
        <mat-card-title class="mb-2" style="font-size: 24px; font-weight: 600 ;">PROTECCIÓN VIP, PATRULLAS MÓVILES O
          ESTÁTICAS – DE REACCION RAPIDA</mat-card-title>
      </mat-card-header>
      <mat-card-content style="text-align: justify; font-size: 18px; line-height:1.5em;">
        Selección de personal e investigación de antecedentes, Sistema de Identificación.
        <ul>
          <li>Programa de Entrenamiento</li>
          <li>Procedimientos de viaje</li>
          <li>Proyecto de transferencia y equipo.</li>
          <li>Protección familiar, Protocolos Emergencia y Crisis</li>
          <li>Reubicación en sitios seguros.</li>
          <li>Fuego y rescate.</li>
          <li>Protección VIP</li>
          <li>Terrorismo y actividades criminal</li>
          <li>Comunicaciones y Respuestas</li>
          <li>Contaminación sanitaria y/ o Guerra Química</li>
          <li>Pruebas confiables (polígrafos, toxicología)</li>
          <li>Ataque cibernético</li>
          <li>Proceso de activación de emergencias.</li>
          <li>Equipo de avanzada, Armamento y Equipamiento</li>
          <li>Entrenamiento médico (TCCC: Tactical Combat Casualty Care)</li>
          <li>Refuerzo de instalaciones</li>
          <li>Equipo de energía adicional</li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="flex justify-content-around m-4">
    <mat-card class="card4">ENTRENAMIENTO E INSTRUCCIÓN PMI / ESCOLTA / RESGUARDO / PSP / CP / SEGURIDAD URBANA /
      DEFENSA PERSONAL</mat-card>
    <mat-card class="card4">INSTRUCCIONES & ENTRENAMIENTO DE LOS CURSOS CERTIFICADOS POR:
      <ul>
        <li>SUCAMEC</li>
        <li>CSISPE</li>
        <li>SISPA</li>
      </ul>
    </mat-card>
    <mat-card class="card4" style="text-align: center;">
      <span>CLUB</span>
      “SOFTGUN, PAINTBALL & AIRGUN WALLA”
    </mat-card>
    <mat-card class="card4">
      CURSOS HOMOLOGADOS Y CERTIFICACIONES INTERNACIONALES DE CENTROS DE ENTRENAMIENTO TACTICO:
      <ul>
        <li>GEITS</li>
        <li>GRIFON</li>
        <li>ANTITERROR</li>
      </ul>
    </mat-card>
  </div>

</div>
