mat-card{
  border-radius: 10px;
}

.card4{
  width: 24%;
  margin: 5px;
  height: 200px;
  display: flex;
/*   align-items: center; */
  justify-content: center;
  padding: 20px;
/*   text-align: center; */
}
