mat-toolbar {
  background-color: #1C2A45;
  height: 15vh;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 3%), 0 1px 6px -1px rgb(0 0 0 / 2%), 0 2px 4px 0 rgb(0 0 0 / 2%);
}

mat-sidenav-container {
  height: 100vh;
}

mat-sidenav-content {
  background-color: #F0F2F5;
}

.active {
  background-color: #E19621;
}

.router-name {
  font-weight: 500;
  font-size: 1.1rem;
  color: white;
}

.router-a{
  padding: 7px 0px 0px;
  margin-bottom: -12px;
  text-align: center;
  border-radius: 10px;
}

footer{
  background-color: #1C2A45;
}

p {margin: 0px 0px 8px 0px;}

/* .mdc-list-item{
  padding: 0px;
} */

.sidenav {
  background-color: #1C2A45;
  width: 80vw;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 3%), 0 1px 6px -1px rgb(0 0 0 / 2%), 0 2px 4px 0 rgb(0 0 0 / 2%);
}
