<mat-sidenav-container>

  <mat-sidenav-content>
    <mat-toolbar>
      <div class="w-5 pl-3">
        <img width="70px" src="./assets/ESCUDO-GLOBAL.png" alt="">
      </div>
      <div class="flex flex-row w-7 justify-content-between pr-3">
        <a mat-list-item routerLink="wallazulu" routerLinkActive="active" class="router-a">
          <div style="display: inline-flex; align-items: center">
            <p class="router-name">WALLA ZULU</p>
          </div>
        </a>
        <a mat-list-item routerLink="geitsu" routerLinkActive="active" class="router-a">
          <div style="display: inline-flex; align-items: center">
            <p class="router-name">GEITSU</p>
          </div>
        </a>
        <a mat-list-item routerLink="wallaosint" routerLinkActive="active" class="router-a">
          <div style="display: inline-flex; align-items: center">
            <p class="router-name">WALLAOSINT</p>
          </div>
        </a>
        <a mat-list-item routerLink="contact" routerLinkActive="active" class="router-a">
          <div style="display: inline-flex; align-items: center">
            <p class="router-name">CONTACTANOS</p>
          </div>
        </a>
      </div>

    </mat-toolbar>
    <router-outlet></router-outlet>
    <footer style="font-size: 17px;">
      <div class="flex py-6 px-8">
        <div class="pl-3 w-4 mt-4" style="text-align: center;">
          <img width="15%" src="./assets/png-transparent-organization-iso.png" alt="">
          <img width="25%" src="./assets/ESCUDO-GLOBAL.png" alt="">
        </div>
        <div class="w-8 flex justify-content-evenly">
          <ul style="list-style: none;color: #ffffff61; margin: 0">
            <div class="mb-3" style="color: #ffffff;">
              Get Started
            </div>
            <li class="mb-2">Tutorials</li>
            <li class="mb-2">Resources</li>
            <li class="mb-2">Guides</li>
            <li class="mb-2">Examples</li>
            <li class="mb-2">Docs</li>
          </ul>
          <ul style="list-style: none;color: #ffffff61; margin: 0">
            <div class="mb-3" style="color: #ffffff;">
              About
            </div>
            <li class="mb-2">Stories</li>
            <li class="mb-2">Community</li>
            <li class="mb-2">Blog</li>
            <li class="mb-2">Careers</li>
            <li class="mb-2">Brand Assets</li>
          </ul>
          <ul style="list-style: none;color: #ffffff61; margin: 0">
            <div class="mb-3" style="color: #ffffff;">
              Downloads
            </div>
            <li class="mb-2">Flex UI Kit</li>
            <li class="mb-2">Modern UI Kit</li>
            <li class="mb-2">Framer UI Kit</li>
            <li class="mb-2">Gradients UI Kit</li>
            <li class="mb-2">Black & White UI Kit</li>
          </ul>
        </div>
      </div>
      <mat-divider style="background-color: #ffffff61; width: 100%;"></mat-divider>
      <div class="flex justify-content-between py-3 px-5">
        <div style="color: #ffffff61; margin: 0">
          ©All rights reserved
        </div>
        <div style="color: #ffffff61; margin: 0">
          Walla Zulu Group
        </div>
      </div>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>
