.modalContent{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.errorIcon{
  color: #F4150F;
  font-size: 30px;
  padding: 10px;
}

.btnError{
  background-color: #F4150F;
  color:#ffffff;
}
