<div>

  <mat-card class="m-4 p-3 flex flex-row">
    <div class="m-3 w-3 flex p-3"
    style="background-color: #1C2A45; color: #ffffff; font-size: 34px; display: flex;
    justify-content: center; align-items: center; text-align: center; line-height:2em;border-radius: 10px; ">
    ¿Quienes Somos?</div>
    <div class="flex flex-column w-9">
    <div class="m-5 px-5"
      style="text-align: justify; font-size: 17px; line-height:1.5em;">
      Somos una compañía de seguridad privada de seguridad global, en ruta a ser homologada con certificaciones
      internacionales de la ISO: 18788: 2015 estándar para la gestión de operaciones de seguridad en empresas privadas,
      y siguiendo lineamientos internacionales para calidad, continuidad de negocio, salud ocupacional, control y
      armonía en el medio ambiente, gestión de riesgos con resiliencia, profesionalismo, cumplimientos, desarrollo de
      sistemas de gestión en cyberseguridad, informática, tecnología de drones, educación y entrenamiento continuo,
      siempre abiertos a los controles, auditorías internas, externas y siguiendo los lineamientos de las normas
      internacionales y nacionales para el respeto de los derechos humanos sea cual fuere sus niveles y actores, uso
      legitimo de la defensa, uso gradual de la fuerza y fuerza letal.
    </div>
  </div>

  </mat-card>

  <div class="flex m-4">
    <mat-card class="mr-2 w-6" style="height: 350px">
      <img mat-card-image style="height: 100%; object-fit:cover; "
        src="https://raw.githubusercontent.com/gabrielac3/im-genes/main/wallazulu/wallazulluIA11.jpg" alt="">
    </mat-card>

    <mat-card class="ml-2 p-5 w-6 flex align-items-center justify-content-center">
      <mat-card-header>
        <mat-card-title class="mb-2" style="font-size: 20px; font-weight: 600 ;">VISIÓN</mat-card-title>
      </mat-card-header>
      <mat-card-content style="text-align: justify;font-size: 17px; line-height:1.5em;" class="px-5">
        “Somos una corporación enfocada hacia el mundo del servicio de la seguridad global y tecnológico, de estar
        siempre en vanguardia con respeto de los derechos humanos, de las innovaciones tecnológicas y de controles
        medioambientales. Entregar nuestros recursos disponibles, de manera oportuna y eficaz, para satisfacer las
        necesidades de nuestros clientes, alcanzando un entorno de protección y cuidado, protegiendo la vida e
        integridad física de los funcionarios y trabajadores”.
      </mat-card-content>
    </mat-card>
  </div>



  <div class="flex m-4">

    <mat-card class="mr-2 p-5 w-6 flex align-items-center justify-content-center">
      <mat-card-header>
        <mat-card-title class="mb-2" style="font-size: 20px; font-weight: 600 ;">MISIÓN</mat-card-title>
      </mat-card-header>
      <mat-card-content style="text-align: justify;font-size: 17px; line-height:1.5em;" class="px-5">
        “Somos una corporación enfocada hacia el mundo del servicio de la seguridad global y tecnológico, de estar
        siempre en vanguardia con respeto de los derechos humanos, de las innovaciones tecnológicas y de controles
        medioambientales. Entregar nuestros recursos disponibles, de manera oportuna y eficaz, para satisfacer las
        necesidades de nuestros clientes, alcanzando un entorno de protección y cuidado, protegiendo la vida e
        integridad física de los funcionarios y trabajadores”.
      </mat-card-content>
    </mat-card>

    <mat-card class="ml-2 w-6" style="height: 350px">
      <img mat-card-image style="height: 100%; object-fit:cover; "
        src="https://raw.githubusercontent.com/gabrielac3/im-genes/main/wallazulu/wallazulluIA3.jpg" alt="">
    </mat-card>
  </div>

<mat-card class="m-4 p-3">
  <div class="flex flex-column align-items-center">
    <h1 class="m-3" style="font-size: 21px; font-weight: 600 ;">VALORES</h1>

    <div class="col-12 grid justify-content-center">
      <mat-card class="col-3 m-4 p-3 valor">Ética y honestidad.</mat-card>
      <mat-card class="col-3 m-4 p-3 valor">Interés por los talentos humanos.</mat-card>
      <mat-card class="col-3 m-4 p-3 valor">Valor e integridad profesional – personal.</mat-card>
      <mat-card class="col-3 m-4 p-3 valor">Confianza y compromiso con los resultados.</mat-card>
      <mat-card class="col-3 m-4 p-3 valor">Responsabilidad social.</mat-card>
      <mat-card class="col-3 m-4 p-3 valor">Sostenibilidad.</mat-card>
      <mat-card class="col-3 m-4 p-3 valor">Confidencialidad.</mat-card>
      <mat-card class="col-3 m-4 p-3 valor">Resiliencia y prospectividad.</mat-card>
    </div>
  </div>

</mat-card>


  <mat-card class="m-4 p-3 align-items-center">
    <mat-card-header class="m-2">
      <mat-card-title class="mb-2" style="color:#E19621; font-size: 28px; ">NUESTRO MOTTO: OBSERVACION - DETERMINACION -
        MITIGACION</mat-card-title>
    </mat-card-header>
    <mat-card-content style="text-align: center; font-size: 20px; line-height:1.5em;" class="px-5">
      “Siempre nuestros talentos operan con observación profesional para determinar soluciones que mitiguen el riesgo,
      los peligros, proveyendo en una continuidad de negocio a través del servicio con resiliencia y prospectividad.”
    </mat-card-content>
  </mat-card>


</div>

