mat-card{
  border-radius: 10px;
}

.card4{
  width: 24%;
  margin: 5px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
  border: 1px solid #E19621;
  font-size: 18px;
  font-weight: 700;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.card4:hover {
  background-color: #E0E2DB;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card3{
  width: 24%;
  margin: 5px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  position: relative;
  transition: transform 1s;
}


.card3:hover {
  transform: rotateY(180deg);
}

.front, .back {
  position: absolute;
}

.front {
  display: block;
}

.back {
  display: none;
  background-color: #1C2A45;
  transform: rotateY(180deg);
  font-size: 17px;
  line-height:1.3em;
}

.card3:hover .front {
  display: none;
}

.card3:hover .back {
  display: block;
}

.imgWallaosint{
  height: 300px;
  object-fit:cover;
}

.imgCamino{
  height: 545px;
  object-fit:cover;
}

@media (max-width: 768px) {
  .imgWallaosint{
    height: 200px;
  }

  .card3{
    width: 90%;
    font-size: 12px;
    padding: 10px;
    height: 150px;
  }

  .back {
    font-size: 12px;
    line-height:1.2em;
  }

  .imgCamino{
    height: 200px;
  }

  .card4{
    width: 90%;
    margin: 5px;
    height: 70px;
    padding: 10px;
    font-size: 12px;
  }

}
