<div>
  <mat-card class="m-4 py-4">
    <mat-card-header class="mt-3 ml-7">
      <mat-card-title style="color:#E19621; font-size: 32px; text-align: center; font-weight: 700;">
        SOBRE NOSOTROS
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="flex flex-column m-3 px-7"
      style="text-align: justify; font-size: 20px; line-height:1.5em;">
      <span><strong> Walla Open Source System inteligence, llamada WALLAOSINT,</strong> es una organización, parte de la
        estructura de Organización Corporativa de Walla Zulú Group – Walla International , que, está centrada en la
        sociedad a través del manejo de las informaciones abiertas consolidadas en su aplicación en el internet, que
        permita el acceso de manera controlada por el sistema y evaluar medidas de Inteligencia y Contrainteligencia que
        de forma a la seguridad y la inteligencia y está comprometida a promover y mejorar la seguridad Nacional e
        internacional, bajo la contribución de una empresa corporativa privada.
      </span>
      <br>
      <span>
        <strong> WALLAOSINT</strong> es en parte APP de consultoría, en parte laboratorio y en parte grupo de expertos.
        Desarrollamos soluciones prácticas para amenazas de seguridad actuales y emergentes; por esos medios, ayudamos
        al sector público, al sector privado y a la sociedad civil a promover de manera efectiva la seguridad pública,
        la democracia y los derechos humanos.
      </span>
      <br>
      <span>
        <strong> WALLAOSINT</strong> se dedica a proporcionar experiencia relevante y actualizada en materia de
        seguridad e inteligencia en todos los niveles: nacional, regional e internacional. Estamos orgullosos,
        apasionados y comprometidos de garantizar los derechos fundamentales y los intereses comunes a través de las
        fronteras, independientemente de las culturas, religiones y etnias. De la misma manera brindamos capacitación y
        asesoría de primer nivel; Realizar seminarios, talleres y conferencias, entre otras actividades, son parte de lo
        que hacemos
      </span>
      <br>
      <span>
        <strong> WALLAOSINT</strong> se dedica a proporcionar experiencia relevante y actualizada en materia de
        seguridad e inteligencia en todos los niveles: nacional, regional e internacional. Estamos orgullosos,
        apasionados y comprometidos de garantizar los derechos fundamentales y los intereses comunes a través de las
        fronteras, independientemente de las culturas, religiones y etnias. De la misma manera brindamos capacitación y
        asesoría de primer nivel; Realizar seminarios, talleres y conferencias, entre otras actividades, son parte de lo
        que hacemos
      </span>
    </mat-card-content>
  </mat-card>

  <div class="flex m-4">
    <mat-card class="mr-2 w-6">
      <img mat-card-image style="height: 100%; object-fit:cover;" src="https://raw.githubusercontent.com/gabrielac3/im-genes/main/wallazulu/ESCUADRON-WALLA.jpeg" alt="">
    </mat-card>

    <mat-card class="ml-2 p-5 w-6 flex align-items-center justify-content-center">
      <mat-card-header>
        <mat-card-title class="mb-2" style="font-size: 24px; font-weight: 600 ;">NUESTRA MISIÓN</mat-card-title>
      </mat-card-header>
      <mat-card-content style="text-align: justify; font-size: 18px; line-height:1.5em;" class="px-5">
        Nuestra misión es fortalecer la seguridad privada, contribuir en la pública y promover la cooperación nacional,
        regional e internacional en el sector privado, público y en la sociedad civil, con un fuerte sentido de respeto
        por los derechos humanos, el derecho de la información y la democracia. Al hacerlo, nuestro objetivo es fomentar
        el debate sobre temas de seguridad humana y global para la creación y el intercambio de conocimiento informado.
        Nuestros valores fundamentales son la excelencia, la sostenibilidad, la integridad, el desarrollo y el trabajo
        en equipo.
        <br><br>
        Nuestra misión es tener una comunidad global en la que los gobiernos, las instituciones públicas
        internacionales, la sociedad civil y el sector privado cooperen debidamente para prevenir amenazas a la
        seguridad internacional y abordarlas de manera efectiva.</mat-card-content>
    </mat-card>
  </div>

  <div class="flex m-4">

    <mat-card class="mr-2 p-5 w-6 flex align-items-center justify-content-center">
      <mat-card-header>
        <mat-card-title class="mb-2" style="font-size: 21px; font-weight: 600 ;">NUESTRA VISIÓN</mat-card-title>
      </mat-card-header>
      <mat-card-content style="text-align: justify; font-size: 18px; line-height:1.5em;" class="px-5">
        Ser una plataforma App que lidere la organización de soporte de información, asesoría, trasvase de información
        abierta en la comunidad OSINT.
        <br><br>
        Ser lideres en el mercado nacional e internacional de consulta, y otros que puedan interactuar con la comunidad
        global.
        <br><br>
        Ser siempre respetuosos de los derechos humanos, los derechos de inclusión real y efectivo, más allá de las
        líneas comerciales, incluidos los convenios de carácter social de bien común, marcando siempre derroteros para
        las generaciones futuras y transformar las visiones en un norte claro las metas, los objetivos institucionales
        corporativos, con calidad, profesionalismo y en profunda resiliencia como líneas de acción empresarial público –
        privado.
      </mat-card-content>
    </mat-card>

    <mat-card class="ml-2 w-6">
      <img mat-card-image style="height: 100%; object-fit:cover;" src="https://raw.githubusercontent.com/gabrielac3/im-genes/main/wallazulu/geitsu.jpg" alt="">
    </mat-card>

  </div>

  <div class="flex m-4">
    <mat-card class="mr-2 w-6">
      <img mat-card-image style="height: 100%; object-fit:cover;" src="https://raw.githubusercontent.com/gabrielac3/im-genes/main/wallazulu/wallaonsint.jpg" alt="">
    </mat-card>

    <mat-card class="ml-2 p-5 w-6 flex align-items-center justify-content-center">
      <mat-card-header>
        <mat-card-title class="mb-2" style="font-size: 21px; font-weight: 600 ;">NUESTROS VALORES</mat-card-title>
      </mat-card-header>
      <mat-card-content style="text-align: justify; font-size: 18px; line-height:1.5em;" class="px-5">
        <strong>Excelencia:</strong> El más alto nivel posible de desempeño y servicio, con sentido del deber y honor.
        <br>
        <strong>Sostenibilidad:</strong> Un equilibrio entre ley, orden y justicia.
        <br>
        <strong>Integridad:</strong> Independiente, ética y legal.
        <br>
        <strong>Educación:</strong> Una organización de aprendizaje que evoluciona y educa con discusiones, debates y
        toma de decisiones informados.
        <br>
        <strong>Resiliencia:</strong> Una organización corporativa que, con la fuerza profesional y el carácter
        resiliente de sus integrantes, forje la institución con resultados que, satisfagan a los clientes y promuevan
        fuertemente un Espíritu Resiliente Empresarial.
        <br>
        <strong>Trabajo en equipo:</strong> Unimos fuerzas y construimos relaciones con el sector público, el sector
        privado y con nuestros socios dada nuestra visión compartida en seguridad, misión y valores.
      </mat-card-content>
    </mat-card>
  </div>

  <mat-card class="m-4 p-5">
    <mat-card-header class="mt-2 ml-3">
      <mat-card-title style="color:#E19621; font-size: 32px; text-align: center; font-weight: 700;">
        EN EL CAMINO HACIA LA SEGURIDAD GLOBAL
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="flex flex-column m-3" style="text-align: justify; font-size: 18px; line-height:1.5em;">
      La seguridad humana y la delincuencia transnacional, debido a las migraciones forzadas por fenómenos políticos,
      conflictos internos y / o externos, han surgido y evolucionado como preocupaciones predominantes de las partes
      interesadas en los sectores público y privado.
      <br><br>
      Esta organización interviene como actor oportuno al reunir a una gran cantidad de expertos, autoridades
      licenciados y veteranos militares, policiales y ex – funcionarios gubernamentales de renombre mundial junto con
      líderes corporativos para abordar eficazmente el narcoterrorismo, el crimen organizado, el terrorismo, neo
      terrorismo urbano y el tráfico de drogas, trata de personas, entre otras amenazas que afectan a países de todo el
      mundo y por ende a las corporaciones con las que unen lazos comerciales o intereses de activos
    </mat-card-content>
  </mat-card>


  <mat-card class="m-4">
    <div class="flex flex-column">
      <div class="flex justify-content-around m-4">
        <mat-card class="card4">
          REQUISITOS
        </mat-card>
        <mat-card class="card4">
          FUENTES DE INFORMACION
        </mat-card>
        <mat-card class="card4" style="text-align: center;">
          ADQUISICION
        </mat-card>
      </div>
      <div class="flex justify-content-around m-4">
        <mat-card class="card4">
          PROCESAMIENTO
        </mat-card>
        <mat-card class="card4">
          ANALISIS
        </mat-card>
        <mat-card class="card4">
          INTELIGENCIA
        </mat-card>
      </div>
    </div>
  </mat-card>


</div>
