mat-card{
  border-radius: 10px;
}

.card4{
  width: 24%;
  margin: 5px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
  border: 1px solid #E19621;
  font-size: 18px;
  font-weight: 700;
}
