<div>

  <h1 class="mt-4 p-4" style="color:#1C2A45; font-size: 48px; text-align: center; font-weight: 700;">
    Consulta de datos
  </h1>


  <div class="flex m-4">

    <mat-card class="mr-3 p-5 w-6 flex align-items-center justify-content-center">
      <mat-card-header>
        <mat-card-title class="mb-2" style="font-size: 20px; font-weight: 600 ;">Consulta de Datos Nacionales</mat-card-title>
      </mat-card-header>
      <mat-card-content style="text-align: justify;font-size: 17px; line-height:1.5em;" class="px-5">
        Para acceder a las siguientes consultas:
        <ul>
          <li>Consultas de datos personales</li>
          <li>Consultas vehiculares</li>
          <li>Consultas de líneas telefónicas</li>
          <li>Consultas de nivel educativo</li>
          <li>Consultas de seguros de salud</li>
          <li>Consultas de propiedades</li>
          <li>Plataforma de la policía nacional</li>
          <li>Consulta pensiones y estado financiero</li>
          <li>Consultas de migraciones</li>
          <li>Consultas Políticas</li>
        </ul>
        <br>
        Dar click aqui:
        <br>
      </mat-card-content>
      <mat-card-actions style="width: 80%;">
        <button mat-flat-button color="primary" (click)="goToDatosNacionales()"
        class="btnConsultarNacional">CONSULTAR</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="ml-3 p-5 w-6 flex align-items-center justify-content-center">
      <mat-card-header>
        <mat-card-title class="mb-2" style="font-size: 20px; font-weight: 600 ;">Consulta de Otros datos</mat-card-title>
      </mat-card-header>
      <mat-card-content style="text-align: justify;font-size: 17px; line-height:1.5em;" class="px-5">
        Para acceder a las siguientes consultas:
        <ul>
          <li>Consultas Sociopolítica geográfica</li>
          <li>Consultas de Análisis Global</li>
          <li>Consultas con acceso con usuario / pago</li>
          <li>Consulta extranjera de datos personales</li>
          <li>Consultas especiales</li>
          <li>Otras consultas</li>
          <li>Consulta Gobierno del Perú</li>
        </ul>
        <br>
        <br>
        <br>
        <br>
        Dar click aqui:
        <br>
      </mat-card-content>
      <mat-card-actions style="width: 80%;">
        <button mat-flat-button (click)="goToOtrosDatos()"
        class="btnConsultar">CONSULTAR</button>
      </mat-card-actions>
    </mat-card>
  </div>



</div>


