.btnConsultar{
 height: 50px;
 background-color:#1C2A45 !important;
 color: #ffffff !important;
 width: 100%;
 font-size: 18px;
 font-weight: 700;
 border-radius: 10px;
}

.btnConsultarNacional{
  height: 50px;
  background-color:#E19621 !important;
  color: #ffffff !important;
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  border-radius: 10px;
 }
